<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ProjetJEE</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServelet</display-name>
    <servlet-name>LoginServelet</servlet-name>
    <servlet-class>LoginServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServelet</servlet-name>
    <url-pattern>/LoginServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateServlet</display-name>
    <servlet-name>CreateServlet</servlet-name>
    <servlet-class>web.CreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateServlet</servlet-name>
    <url-pattern>/CreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadServlet</display-name>
    <servlet-name>ReadServlet</servlet-name>
    <servlet-class>web.ReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadServlet</servlet-name>
    <url-pattern>/ReadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>web.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>web.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/Error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>CreateUser</display-name>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>web.CreateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/CreateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadUser</display-name>
    <servlet-name>ReadUser</servlet-name>
    <servlet-class>web.ReadUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadUser</servlet-name>
    <url-pattern>/ReadUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>web.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>web.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateStock</display-name>
    <servlet-name>CreateStock</servlet-name>
    <servlet-class>web.CreateStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateStock</servlet-name>
    <url-pattern>/CreateStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadStock</display-name>
    <servlet-name>ReadStock</servlet-name>
    <servlet-class>web.ReadStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadStock</servlet-name>
    <url-pattern>/ReadStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStock</display-name>
    <servlet-name>DeleteStock</servlet-name>
    <servlet-class>web.DeleteStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStock</servlet-name>
    <url-pattern>/DeleteStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStock</display-name>
    <servlet-name>UpdateStock</servlet-name>
    <servlet-class>web.UpdateStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStock</servlet-name>
    <url-pattern>/UpdateStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientProduitServlet</display-name>
    <servlet-name>ClientProduitServlet</servlet-name>
    <servlet-class>web.ClientProduitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientProduitServlet</servlet-name>
    <url-pattern>/ClientProduitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToPanierServlet</display-name>
    <servlet-name>AddToPanierServlet</servlet-name>
    <servlet-class>web.AddToPanierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToPanierServlet</servlet-name>
    <url-pattern>/AddToPanierServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QteIncDec</display-name>
    <servlet-name>QteIncDec</servlet-name>
    <servlet-class>web.QteIncDec</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QteIncDec</servlet-name>
    <url-pattern>/QteIncDec</url-pattern>
  </servlet-mapping>
</web-app>